<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../lib/logo/logo.svg" fill="black" type="image/x-icon">

    <title>Other Level</title> 

    <!-- LINK's -->
    <link rel="stylesheet" href="../css/perfil/navbar.css">
    <link rel="stylesheet" href="../css/perfil/navbarresponsivo.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/b798675e62.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <%- include('../partials/header'); %>

</head>
<body>
  <%- include('../partials/navbar'); %>;
  <script src="./js/home/navbar.js""></script>
</body>
</html>
