<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Postagem</title>
    <link rel="stylesheet" href="../css/post/style.css">
</head>
<body>
    <main>
        <h1>Nova Postagem</h1>
        <form action="/post" method="POST" enctype="multipart/form-data">
            <div class="postagem">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>

                <label for="conteudo">Conteúdo:</label>
                <textarea id="conteudo" name="conteudo" required></textarea>

                <label for="foto">Fotos:</label>
                <input type="file" id="foto" name="foto" accept="image/*" multiple>

                <label for="capa">Selecionar Capa:</label>
                <input type="file" id="coverImage" name="coverImage" accept="image/*">

                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </main>
</body>
</html>
