<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color: rgba(0, 0, 0, 0.025); padding: 10px 0 0 0;">

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Other Level
          </h6>
          <p>
            <!-- Descrição -->
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Categorias
          </h6>
          <p>
            <a href="/filtrar/Design 3D" class="text-reset">Design 3d</a>
          </p>
          <p>
            <a href="/filtrar/Design IA" class="text-reset">Design IA</a>
          </p>
          <p>
            <a href="/filtrar/Logo Maker" class="text-reset">Logo Maker</a>
          </p>
          <p>
            <a href="/filtrar/Web Design" class="text-reset">Web Design / Ui - UX</a>
          </p>
          <p>
            <a href="/filtrar/Social Mídia" class="text-reset">Social Mídia</a>
          </p>
          <p>
            <a href="/filtrar/Design de Produto" class="text-reset">Design de Produto</a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mais Procurados
          </h6>
          <p>
            <a href="/pesquisa?pesquisa=Web Design" class="text-reset">Web Design</a>
          </p>
          <p>
            <a href="/pesquisa?pesquisa=Ui" class="text-reset">UI</a>
          </p>
          <p>
            <a href="/pesquisa?pesquisa=Portifólio" class="text-reset">Portifólio</a>
          </p>
          <p>
            <a href="/pesquisa?pesquisa=Cartoon" class="text-reset">Cartoon</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Conatto</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Espirito Santo do Pinhal - SP</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            contato@otherlevel.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> +55 19 9 9989-7566</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0); color: white; border-radius: 10px 10px 0 0 ;">
    © 2021 Copyright:
    <a class="text-reset fw-bold" style="color: var(--cor1) !important;" id="/" href="#/">Other Level</a>
    Todos os Direitos Reservados
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->