<nav id="nav" class="nav">
    <div class="logo" id="logo" >
        <button id="home">
            <img src="../lib/logo/logo.svg" alt="">
            Other Level
        </button>
    </div>
    <div class="buttons" id="buttons" >
        <button class="normal" id="home1">Página inicial</button>
        <button class="normal" id="criadores">Criadores</button>
        <% if (currentUser) { %>
            <button class="btns post" id="post">
            <span class="list-item-text nome post"><i class="fa-solid fa-plus"></i> Post</span>
            </button>
            <div class="dropdown">
            <button class="dropdown-btn btns" id="drop">
                <img class="img" src="<%= currentUser.Avatar %>" alt="">
                <%= currentUser.NomeDeUsuario %> 
            </button>
            <div class="dropdown-content" id="dropdownContent">
                <!-- Conteúdo do dropdown -->
                <button class="btn-drop" id="perfil">Perfil</button>
                <button class="btn-drop logout" id="logout">Sair</button>
            </div>
            </div>                          
        <% }  else { %>
        <button class="normal active btns" id="login">login</button>
            <% } %>
    </div>
</nav>
<div class="navhamburger">
    <a href="/">
        <div class="logomarca">
            <img src="../lib/logo/logo.svg" alt="">Other Level
        </div>
    </a>
<div class="hamburger">
    <button class="dropnav" id="dropnav">
    <i class="fa-solid fa-bars"></i>
    </button>
    <div class="hamburgerdropdown">
    <div class="list-navbtns">
        <button class="" id="home2">Página inicial</button>
        <button class="" id="criadoress">Criadores</button>
        <% if (currentUser) { %>
        <button class="" id="perfill">Perfil</button>
        <button class="posti" id="postt">Post</button>
        <button class="logout" id="logoutt">Sair</button>                       
    <% }  else { %>
        <button class="normal active btns" id="loginn">login</button>
        <% } %>
    </div>
    </div>
</div>
</div>
<style>
    .invisivel {
        display: none;
    }
    .visivel {
        display: block !important;
    }
</style>
<script>
    // Obtém o caminho da URL atual
    var currentPath = window.location.pathname;

    // Define o diretório raiz (ajuste conforme necessário)
    var rootDirectory = "/";

    // Verifica se a página está no diretório raiz
    if (currentPath === rootDirectory) {
        // Adiciona a classe "active" ao botão "home"
        document.getElementById("home1").classList.add("invisivel");
        document.getElementById("home2").classList.add("invisivel");
    }
</script>
