# Módulos Node.js
/node_modules

# Arquivos temporários
npm-debug.log
yarn-error.log

# Arquivos de dependências gerados
package-lock.json
yarn.lock

# Variáveis de ambiente
.env

# Arquivos de compilação ou saída (dependendo do seu ambiente)
/build/
/dist/

# Logs e arquivos de debug
/logs/
/debug.log

# Arquivos de configuração pessoal (por exemplo, VS Code)
.vscode/
.idea/

# Arquivos de build para ferramentas como webpack
/.webpack/

# Arquivos de cache
.cache/
