<div class="form-5">
    <div class="tab tab5">
        <section>
          <div class="telaFinal">
            <img src="https://imgur.com/Y6Jfn6l.png" alt="Termos.png">
            <h1>Você está quase lá</h1>
            <br><br>
            <p>Clicando em <b>Postar</b> você aceita nossos <span class="roxo">Termos e Serviçoes</span> e nossas <span class="roxo">Politicas de Privacidade</span></p>
          </div>
        </section>
    </div>
</div>
<script>

</script>

<!-- 

  Imagem dos termos: https://imgur.com/Y6Jfn6l.png

 -->