<div class="form-2">
    <div class="tab tab2">
        <section>
            <div class="container py-5">
                <div class="cardes">

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="cardpreco rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Bronze</h1>
                            <h2 class="h1 font-weight-bold edit-preco"><input id="price-edit-bronze" name="bronzeValor" type="text" class="precos" oninput="formatPrice(this)" value="R$ 00,00"></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left">
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="bronzeOp1" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="bronzeOp2" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="bronzeOp3" placeholder="Clique para editar"></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="cardpreco rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Prata</h1>
                            <h2 class="h1 font-weight-bold edit-preco"><input id="price-edit-prata" name="prataValor" type="text" class="precos " oninput="formatPrice(this)" value="R$ 00,00"></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="prataOp1" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="prataOp2" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="prataOp3" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="prataOp4" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="prataOp5" placeholder="Clique para editar"></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="cardpreco rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Ouro</h1>
                            <h2 class="h1 font-weight-bold edit-preco"><input id="price-edit-ouro" name="ouroValor" type="text" class="precos " oninput="formatPrice(this)" value="R$ 00,00"></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="ouroOp1" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="ouroOp2" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="ouroOp3" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="ouroOp4" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="ouroOp5" placeholder="Clique para editar"></li>
                                <li class="mb-3 checkFlex"><i class="fa fa-check mr-2 text-primary"></i> <input type="text" class="opcoesList" name="ouroOp6" placeholder="Clique para editar"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>