@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
  --navbar: #000;
  --branco: #ffffff;
  --preto: #000000;
  --verde: #19a463;
  --vinho: #720022;
  --roxo-vidro: #ececec28;
  --cor1: #632ed6;
  --cor2: #1a1f38;
  --cor3: #eeeeee;
  --cor4: #424242;
  --cor5: #34495e;
  --cor-erro: #ff0035;
  --corinput: #e2e2e2b4;
  
  --cinza-texto: #666666;
  --cinza-claro: #DADADA;
  --cinza-hover: #E6E6E6;
  --prata-base: #F8F8F8;
  --branco:  #FFFFFF;
}

* {
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #f3f3f32c !important;
}

.perfil {
  z-index: 2;
  width: 100%;
}

.flex {
  padding: 40px 0;
  justify-content: center;
  max-width: 2000px;
  margin: auto;
  display: flex;
  /* gap: 20px; */
}
.col1 {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.informacoes {
  border-radius: 6px;
  box-shadow: 0 0 11px #aaaaaa5b;
  min-width: 325px;
  max-width: 325px;
  /* min-height: 82vh; */
  padding: 15px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.info-user, .redes, .outros {
  overflow: hidden;
  width: 91%;
  padding: 2px 0;
  /* border: 1px solid var(--cor1); */
  border-radius: 10px;
}

.info-user, .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-user {
  gap: 6px;
}
.outros {
  padding: 5px 5px;
}

.info-user img {
  width: 170px;
  height: 170px;
  /* background: red; */
  border-radius: 100%;
  object-fit: cover;
}

.nome-completo {
  /* font-weight: bolder; */
  font-size: 150%;
}

.nome-user {
  font-size: 13px;
  color: #424242;
  font-weight: bolder;
}

.redes .contatos {
  font-size: 20px;
  font-weight: bolder;
}

.redes ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

ul{
  margin-left: -20px;
  list-style: none;
  display: flex;
  flex-direction: row !important;
}

.redes ul li a {
  margin-left: 2px;
  font-size: 20px;
  text-decoration: none;
  color: var(--preto);
  font-weight: 600;
}

.box .tit {
  color: #424242;
  font-weight: bolder;
  display: flex;
  gap: 5px;
}

.educacao .tit, .habilidades .tit, .certificacao .tit, .sobremim .tit {
  display: flex;
  gap: 5px;
  align-self: flex-start;
  font-weight: bolder;
  font-size: 12px;
  align-items: center;
}

.sobremim .bio {
  font-family: Arial, Helvetica, sans-serif;
}

.outros .info-posts .box {
  /* background: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outros div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 5px 0;
}

.add-mais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 11px;
  color: var(--cor4);
  font-weight: bolder;
}


/* Coluna 2 */
.col2 {
  width: 100%;
}

.info-sobre {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.info-sobre .sobre-titulo {
  font-weight: 1000;
  font-size: 16px;
}

.info-sobre p {
  overflow: visible;
  width: 70%;
  color: rgb(68, 68, 68);
  font-weight: 600;
  margin-top: -14px;
  padding: 0 0 0 10px;
  letter-spacing: -0.5px;
  font-family: Arial, Helvetica, sans-serif;
}

.postagens {
  /* padding: 0 20px; */
  margin: auto;
  max-width: 100%;
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.postagem {
  border-radius: calc(100% / 100);
  overflow: hidden;
  background: var(--preto);
}

.postagem .img {
  border-radius: calc(100% / 100);
  width: 100%;
  height: 220px;
}

.postagem .info {
  padding: 5px 10px;
  display: flex;
}

.info-direita {
  flex: 50%;
  text-align: right;
}

.info-esquerda p{
  font-family: Arial !important;
}

.info-esquerda {
  flex: 50%;
}


.postagem-link {
  color: #000;
  width: 420px;
  text-decoration: none !important;
}

.card-list {
	width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card-list a {
text-decoration: none;
}

.cardi {
  width: 400px;
	background-color: transparent;
	border-radius: 15px;
	overflow: hidden;
	/* padding: 0.55rem; */
	transition: 0.25s ease-in;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: var(--roxo-vidro);
}

.card-image {
  height: 250px;
	overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.card-image img{
  width: 100%;
}

.card-h {
	display: flex;
  padding: 0 10px 15px 10px;
  align-items: center;
  justify-content: space-between;
}

.card-h h1{
  font-size: 1rem;
  color: var(--preto);
  font-weight: bold;
  text-decoration: none;
}

.card-h{
  font-size: 1rem;
  color: var(--preto);
  font-weight: bold;
  text-decoration: none;
}

.post-autor-info {
  /* background: red; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 6px;
}

.foto-user-post {
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  object-fit: cover; 
}

.seguir {
  background: var(--cor1) !important;
  color: var(--branco) !important;
  padding: 8px 25px !important;
}

.seguir:hover {
  background: #632ed6e7 !important;
}









.fa-envelope {
  color: #0854fc;
}
.fa-linkedin {
  color: #0073b1;
}
.fa-instagram {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-behance {
  color: #0854fc;
}
.fa-dribbble {
  color: #ea4c89;
  border-radius: 100%;
  background: #f88fb8;
}
.fa-facebook {
  color: #1877f2;
}
.fa-vimeo {
  color: #17d5ff;
}
.fa-github {
  color: purple;
}
.redes ul li a  {
  transition: all 0.2s;
}
.redes ul li a :hover {
  transition: all 0.2s;
  font-size: 25px !important;
}


@media (max-width: 860px) {
  .informacoes {
    min-width: 94vw !important;
    /* max-width: 100vw !important; */
    box-shadow: 0 0 0 transparent;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col1 {
    width: 100%;
    display: flex;
  }
  .postagens {
    padding: 0px 0px 20px 0px;
    justify-content: center;
  }
  .info-sobre {
    padding: 40px 20px 10px 20px;
  }
}