:root {
    --navbar: #000;
    --branco: #ffffff;
    --preto: #000000;
    --verde: #19a463;
    --vinho: #720022;
    --roxo-vidro: #ececec28;
    --cor1: #632ed6;
    --cor2: #1a1f38;
    --cor3: #eeeeee;
    --cor4: #424242;
    --cor5: #34495e;
    --cor-erro: #ff0035;
    --corinput: #e2e2e2b4;

    --cinza-texto: #666666;
    --cinza-claro: #DADADA;
    --cinza-hover: #E6E6E6;
    --prata-base: #F8F8F8;
    --branco: #FFFFFF;
}

.resultado {
    /* background: red; */
    display: flex;
    padding: 0 10px 0 10px;
}

.resultado .res-pesq h1 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 130px;
}

.resultado .res-pesq h1 b {
    color: var(--preto);
    font-weight: 700;
    text-transform: capitalize !important;
}

main {
    max-width: 1900px;
    margin: auto;
}

@media (max-width: 800px) {
    .resultado .res-pesq h1 {
        margin-left: 32px;
        width: 100%;
    }
}