@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Oswald:wght@200&display=swap');

:root{
  --navbar: #000;
  --branco: #ffffff;
  --preto: #000000;
  --verde: #19a463;
  --vinho: #720022;
  --roxo-vidro: #ececec28;
  --cor1: #632ed6;
  --cor2: #1a1f38;
  --cor3: #eeeeee;
  --cor4: #424242;
  --cor5: #34495e;
  --cor-erro: #ff0035;
  --corinput: #e2e2e2b4;
  
  --cinza-texto: #666666;
  --cinza-claro: #DADADA;
  --cinza-hover: #E6E6E6;
  --prata-base: #F8F8F8;
  --branco:  #FFFFFF;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  transition: all 0.1s ease-in-out;
}

::selection{
  color: var(--cor1);
  background-color: var(--cor2);
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--branco);
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor2);
  border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
  background-color: var(--branco);
}

main{
  padding: 0px 0px 50px 0px ;
}

.banner {
  background: var(--cor1);
  background: radial-gradient(circle, var(--cor1) 0%, var(--cor2) 100%);
  height: 512px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
}

.banner-espaco-1 {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.banner-espaco-1 span {
  text-align: center;
  color: var(--branco);
  font-size: 3rem;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner-espaco-1 span i {
  font-family: Georgia, serif;
  font-style: italic;
}

@media only screen and (max-width: 1300px) {
    .banner-espaco-2 img{
        width: 80%;
    }
}
  @media only screen and (max-width: 800px) {

    .wrapper .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 1) - 12px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;
      }

    .banner-espaco-1 span {
      font-size: 2rem;
      width: 80%;
    }
  
    .banner-espaco-2{
        display: none !important;
        width: 70%;
    }
  
    .banner-espaco-3 h1 {
      font-size: 2rem;
    }
  
    .banner-espaco-3 p {
      font-size: 1rem;
    }
  }

.frase {
  overflow: hidden;
  white-space: nowrap;
}

.frase::after {
  content: "|";
  animation: cursor 0.9s infinite;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    height: 10%;;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

ol, ul {
  padding-left: 0rem !important;
}


.guia-busca {
  justify-content: center;
  gap: 10px;
  min-width: 30%;
  max-width: 900px;
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  /* margin-bottom: 5vh; */
  border-radius: 50px;
  border: 1px solid rgb(172, 172, 172);
  overflow: hidden;
}
.guia-busca .pesquisa{
  /* width: calc(100% / 3); */
  outline: none;
  border: none;
  width: 100%;
  /* height: 55vh; */
  font-size: 1.2rem;
  padding: 0 15px 0 0;
}
.btn-pesquisar {
  background: none;
  border: none;
  color: #DADADA;
  border: 1px solid var(--cor1);
  background: radial-gradient(circle, var(--cor1) 0%, var(--cor2) 100%);
  padding: 15px 30px;
  border-radius: 50px;
}
.btn-pesquisar:hover {
  background: white;
  color: var(--cor1);
}

.div-busca {
  display: flex;
  flex-direction: row;
  gap: 12px;
  /* background: blue; */
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
@media only screen and (max-width: 1200px) {
  .guia-busca {
    max-width: 90%;
  }
}