<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Level</title>
    <link rel="stylesheet" href="../css/cadastro/style.css">
    <link rel="stylesheet" href="../css/cadastro/media.css">
    <link rel="icon" href="../lib/logo/logo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

</head>
<body>
    <main class="main">
        <div class="container">
            <div class="forms">
                <div class="sign__blog">

                    <form action="/login" method="POST" class="form signin">

                        <div class="profile__img__blog image-container">
                            <img src="../lib/logo/logograd.png" alt="" class="profile">
                        </div>
                        <h2 class="form_title">Login</h1>
                        <div class="input_item">
                            <input name="usernamee" id="usernamee" type="text" class="form_input" oninvalid="this.classList.add('invalid')" required>
                            <label for="usernamee" class="form_label"><i class="fas fa-user"></i> Username</label>
                        </div>
                        <div class="input_item">
                            <span class="passwordEye"><i class="fas fa-eye-slash"></i></span>
                            <input name="passwordd" id="passwordd" type="password" class="form_input form_pass" oninvalid="this.classList.add('invalid')" required>
                            <label for="passwordd" class="form_label"><i class="fas fa-lock"></i> Password</label>
                        </div>
                        <button class="btn btn-second" type="submit">Login</button>
                    </form>

                    <!-- <form method="post" action="" class="register"> -->
                    <form action="/cadastro" method="POST" class="form register" enctype="multipart/form-data">
                        <h2 class="form_title">Registro</h1>
                        <div class="form_steps">
                            <div class="steps">
                                <p class="steps_title">Nome</p>
                                <span class="steps_numb">1</span>
                            </div>
                            <div class="steps">
                                <p class="steps_title">Senha</p>
                                <span class="steps_numb">2</span>
                            </div>
                            <div class="steps">
                                <p class="steps_title">Avatar</p>
                                <span class="steps_numb step_end">3</span>
                            </div>
                        </div>
                        <div class="register_content">
                            <div class="form_pages">
                                <div class="form_page page_1">
                                    <div class="input_item">
                                        <input name="name" type="text" class="form_input" oninvalid="this.classList.add('invalid')" required>
                                        <label for="name" class="form_label"><i class="fas fa-user"></i> Nome Completo</label>
                                    </div>
                                    <div class="input_item">
                                        <input name="username" type="text" class="form_input" oninvalid="this.classList.add('invalid')" required>
                                        <label for="username" class="form_label"><i class="fas fa-user"></i> Nome de usuário</label>
                                    </div>
                                    <div class="input_item">
                                        <input name="email" type="email" class="form_input form_email" oninvalid="this.classList.add('invalid')" required>
                                        <label for="email" class="form_label"><i class="fas fa-envelope"></i> Email</label>
                                        <p class="error_email">Email inválido!</p>
                                    </div>
                                    <div class="input_item">
                                        <input name="phone" type="tel" class="form_input" id="phone" oninvalid="this.classList.add('invalid')" required>
                                        <label for="phone" class="form_label"><i class="fas fa-phone"></i> Celular</label>
                                    </div>
                                    <button type="button" class="btn nextBtn">Próximo</button>
                                </div>
                                <div class="form_page page_2 page_password">
                                    <div class="input_item textarea_item">
                                        <textarea name="bio" maxlength="300" type="text" class="form_input form_textarea" style="padding: 5px 5px;"  oninvalid="this.classList.add('invalid')" tabindex="-1" required></textarea>
                                        <label for="bio" class="form_label"><i class="fas fa-info"></i> Bio</label>
                                    </div>
                                    <div class="input_item password_item">
                                        <span class="passwordEye"><i class="fas fa-eye-slash"></i></span>
                                        <input name="password" type="password" class="form_input form_pass form_password" oninvalid="this.classList.add('invalid')" tabindex="-1" required>
                                        <label for="password" class="form_label"><i class="fas fa-lock"></i> Senha</label>
                                    </div>
                                    <div class="password__content">
                                        <div class="password__indicator">
                                            <span></span>
                                        </div>
                                        <ul class="password__info">
                                            <li class="password__info__text"><i class="fas fa-check-circle" id="passWeak"></i> Mínimo de 6 caracteres.</li>
                                            <li class="password__info__text"><i class="fas fa-check-circle" id="passMedium"></i> Mínimo de 1 número.</li>
                                            <li class="password__info__text"><i class="fas fa-check-circle" id="passStrong"></i> Mínimo de 1 letra maiúscula.</li>
                                        </ul>
                                    </div>
                                    <div class="input_item password_item">
                                        <span class="passwordEye"><i class="fas fa-eye-slash"></i></span>
                                        <input name="re-password" type="password" class="form_input form_pass form_password" oninvalid="this.classList.add('invalid')" tabindex="-1" required>
                                        <label for="password" class="form_label"><i class="fas fa-lock"></i> Informe a Senha novamente</label>
                                        <p class="error_pass">Senhas não corespondem!</p>
                                    </div>
                                    <div class="password__content">
                                        <div class="password__indicator">
                                            <span></span>
                                        </div>
                                        <ul class="password__info">
                                            <li class="password__info__text"><i class="fas fa-check-circle" id="passWeak"></i> Mínimo de 6 caracteres.</li>
                                            <li class="password__info__text"><i class="fas fa-check-circle" id="passMedium"></i> Mínimo de 1 número.</li>
                                            <li class="password__info__text"><i class="fas fa-check-circle" id="passStrong"></i> Mínimo de 1 letra maiúscula.</li>
                                        </ul>
                                    </div>
                                    <div class="register_buttons">
                                        <button type="button" class="btn backBtn" tabindex="-1">Voltar</button>
                                        <button type="button" class="btn nextBtn" tabindex="-1">Próximo</button>
                                    </div>
                                </div>
                                <div class="form_page page_3">
                                    <div class="input_item input_uploader">
                                        <div class="form__imgUploader">
                                            <div class="form__wrapper">
                                                <div class="form__image">
                                                    <img src="" alt="" class="form__img">
                                                </div>
                                                <div class="formUploader__content">
                                                    <div class="formUploader__icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                                    <div class="formUploader__text">Nenhuma foto escolhida!</div>
                                                </div>
                                                <div class="formUploader__cancel"><i class="fas fa-times"></i></div>
                                                <div class="formUploader__fileName"><p>Nome do arquivo</p></div>
                                            </div>
                                            <input name="avatar" id="avatar" type="file" class="imgUploader" accept="image/*" tabindex="-1" hidden>
                                        </div>
                                    </div>
                                    <div class="register_buttons">
                                        <button type="button" class="btn backBtn" tabindex="-1">Voltar</button>
                                        <button type="submit" class="btn register_button" tabindex="-1" disabled>Concluir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="invalid_info">Algo deu errado! Tente novamente mais tarde.</p>
                    </form>

                </div>
            </div>
            <div class="panels__blog">
                <div class="panel left__panel">
                    <div class="content">

                        <h3 class="panel__title">É novo aqui?</h3>
                        <p class="panel__text">Bem-vindo!<br>Explore nossa plataforma e junte-se a nós para acessar recursos exclusivos, conteúdo envolvente e interações significativas.</p>
                        <button class="button transparent" id="register__btn">Registro</button>
                    
                    </div>                    
                    <img src="../lib/cadastro/undraw_Login_re_4vu2.svg" alt="" class="panel__img">
                </div>
                <div class="panel right__panel">
                    <div class="content">
                        <h3 class="panel__title">Já possui uma conta?</h3>
                        <p class="panel__text">Bem-vindo de volta!<br>Faça login para continuar desfrutando de conteúdo exclusivo, discussões interessantes e conexões com outros membros.</p>
                        <button class="button transparent" id="signin__btn">Login</button>
                    </div>
                    <img src="../lib/cadastro/undraw_authentication_fsn5.svg" alt="" class="panel__img">
                </div>
            </div>
        </div>
    </main>
    <div id="message" class="err display-none"><%= message %></div> 
    <script src="../js/cadastro/script.js"></script>
</body>
</html>
<script>
    $(document).ready(function() {
        $("#phone").inputmask({
            mask: "(99) 9 9999-9999", // Máscara para telefone com até 14 dígitos
            showMaskOnHover: false, // Não mostrar a máscara ao passar o mouse
            onBeforePaste: function(pastedValue) {
                // Remove caracteres não numéricos ao colar
                return pastedValue.replace(/[^\d]/g, '');
            }
        });

        // Atualiza visualmente o número digitado
        $("#phone").on("input", function() {
            var phoneNumber = $(this).val().replace(/[^\d]/g, ''); // Remove caracteres não numéricos
            $(this).val(formatPhoneNumber(phoneNumber)); // Formata e exibe o número
        });

        // Função para formatar o número de telefone
        function formatPhoneNumber(number) {
            if (number.length <= 10) {
                return number.replace(/(\d{2})(\d{4})(\d{0,4})/, "($1) $2-$3");
            } else {
                return number.replace(/(\d{2})(\d{5})(\d{0,4})(\d{0,4})/, "($1) $2-$3$4");
            }
        }
    });
</script>