*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
}

.row-1 {
    padding: 20px 0 20px 0;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.imagens {
    padding: 6px 0 3px 5px;
    display: flex;
    background: transparent;
}
.gallery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
}
.gallery img {
    width: 100px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.main-image-container {
    border-radius: 5px;
    margin: auto;
    padding: 0 10px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-image {
    max-height: 100%;
    width: 1000px;
    border-radius: 5px;
}

.aba-direita {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
}
  
.card {
    width: 400px;
    max-width: 400px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.op1 { border-radius: 5px 0 0 0; border-right: none !important; } .op3 { border-left: none !important; border-radius: 0 5px 0 0; }

.options {
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.option {
    width: calc(100% / 3);
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #6e6e6e;
    font-size: 1rem;
    font-weight: bolder;
    border: 1px solid #9c9c9ce1;
    transition: transform 0.3s ease-in;
}

.select {
    background: white !important;
    color: black;
    transition: transform 0.3s ease-in;
}
.option:hover {
    background-color: #e0e0e0;
}


.info {
    padding: 10px 20px;
    border: 1px solid #9c9c9ce1;
    border-top: none !important;
    display: flex;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    flex-direction: column;
}
  
  
.card-info {
    display: none;
    margin-top: 10px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 25px;
    min-height: 250px;
    color: #494949;
    font-weight: bold;
}

.fa-square-check {
    font-size: 1rem;
    color: black !important;
}


.carousel-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 400px; /* Defina a altura máxima do carrossel */
}

.carousel-item {
  flex: 0 0 auto;
  transition: transform 0.3s ease-in;
}
/* Adicione esta classe para mover o carrossel verticalmente */
.slide-up {
  transform: translateY(-100%);
}

.btn-assinar{
    margin-top: 5vh;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    background: transparent;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px #858585a6;
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in;
    display: flex;
    gap: 20px;
    min-width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.btn-assinar .fa-solid {
    margin-right: 0;
}

.btn-assinar:hover {
    transition: all 0.4s ease-in;
}

.card-perfil {
    padding: 12px 12px;
    width: 400px;
    max-width: 400px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #9c9c9ce1;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.card-perfil .avatar img {
    width: 75px;
    border-radius: 100%;
    object-fit: cover;
}

.card-perfil .perfil-info {
    margin-top: -10px;
}

.minitags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media only screen and (max-width: 1500px) {
    .row-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagens, .aba-direita{
        /* width: 95%; */
    }
    .imagens {
        flex-direction: column;
        justify-content: center;
    }
    .gallery {
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: wrap;
    }
    .gallery img {
        width: 125px !important;
    }
    .aba-direita {
        display: flex;
        justify-content: center;
    }
    .main-image {
        width: 100%;
    }
}